/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */

/* Common Styles */
* {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
  background-color: gray;
}

html {
  scroll-behavior: smooth;
}

/* Header  section */
/* Navigation bar  */
nav {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

nav>h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  margin-left: 150px;
}

nav>button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px 17px 24px;
  margin-right: 166px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;

}

/* Banner */
.hero-banner {
  background-image: url(./assets/Hero-bg.png);
  width: 1440px;
  height: 652px;
  margin: 74px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-banner>img {
  width: 240.28px;
  height: 240px;
  margin-bottom: 32px;
}

.hero-banner>h1 {
  width: 998px;
  height: 136px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  margin-bottom: 24px;
}

.hero-banner>p {
  color: rgba(13, 19, 33, .7);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  width: 852px;
  height: 52px;
  margin-bottom: 32px;
}

.hero-banner button {
  display: block;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  font-family: Azeret Mono;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 21px 24px 21px 24px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.hero-banner a {
  text-decoration: none;

}

/* Why Web Development */
.why-web-dev {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 97px 80px 97px;
  width: 1140px;
  height: 1395px;
  margin: 0 auto;
}

.why-web-dev>.row {
  display: flex;
  justify-content: space-between;
  gap: 99.77px;
  padding: 48px;
}

.why-web-dev>.row-0>h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
}


.why-web-dev>.row-0>p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  align-items: center;
  margin-bottom: 48px;
}

.web-dev-content>h1 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 0px;
}

.web-dev-content>p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 0px;
}

.web-dev-content button {
  padding: 12px 20px 12px 20px;
  margin: 32px 0px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.why-web-dev>.row>img {
  width: 259.56px;
  height: 217.01px;
}

/* My Inspiration */
.My-Inspiration {
  width: 1140px;
  height: 775px;
  margin: 88px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.My-Inspiration>h1 {
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.My-Inspiration>p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
}

.My-Inspiration>iframe {
  margin: 10px 0px;
  border-radius: 16px;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

/* My Current Target */
.current-target {
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto;
}

.roww-1 {
  position: static;
  width: 946px;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 48px 0px;
}

.roww-1>h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  position: static;
  width: 852px;
  height: 37px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

.row-1>p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  position: static;
  width: 852px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  opacity: 0.7;
}

.roww-2 {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.roww-2>.column {
  padding: 40px;
  border-radius: 16px;
}

.roww-2>.column>img {
  width: 56px;
  height: 56px;
}

.roww-2>.column>h1 {
  margin: 8px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
}

.roww-2>.column>p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin: 8px 0px;
}

.roww-2>.column button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  border: none;
  background: none;
  margin-top: 24px;
}

#html {
  background: rgba(255, 76, 30, 0.05);
}

#css {
  background: rgba(0, 76, 232, 0.05);
}

#js {
  background: rgba(255, 223, 0, 0.05);
}

/* My Next Target  */
.next-target {
  margin: 111px auto 49px auto;
  width: 1140px;
}

.next-target>div>h1 {
  height: 37px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

.next-target>div>p {
  margin-bottom: 48px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.next-row {
  display: flex;
  gap: 24px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  margin-bottom: 24px;
}

.next-row>img {
  height: 108px;
}

.next-row>div>h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
}

.next-row>div>p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.next-row>div>button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  border: none;
  background: none;
}


/* Feedback */
.feedback {
  width: 1140px;
  padding: 64px 48px 64px 48px;
  border-radius: 16px;
  background: url(./assets/handshake.jpg), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  margin: 0px auto 80px auto;
}

.feedback>h1 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.feedback>p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  height: 52px;
  margin-top: 16px;
}

.feedback>div {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.feedback>div>input {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  width: 548px;
  height: 57px;
  padding: 19px 20px 19px 20px;
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}

.feedback>div>button {
  width: 120px;
  height: 57px;
  padding: 17px 20px 17px 20px;
  border: none;
  border-radius: 8px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
}

/* Footer */
/* links */
.link {
  display: flex;
  justify-content: space-between;
  margin: 32px auto 100px auto;
  width: 1440px;
  height: 100px;
  height: 36px;
  background-color: rgba(13, 19, 33, 0.03);
  padding: 32px 150px 32px 150px;
}

.link h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
}

.link img {
  margin-left: 24px;
}